[submodule "common"]
	path = common
	url = git@github.com:ovwvwvo/common.git

[submodule "jkit"]
	path = jkit
	url =  git@github.com:ovwvwvo/jkit.git

[submodule "shareLibary"]
	path = shareLibary
	url = git@github.com:ovwvwvo/shareLibary.git
